<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="serialize_website_role">
        <observer name="admin_user_save_before" instance="Magenest\OrderCancel\Observer\SerializeWebsiteRole"/>
    </event>
</config>
