<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Router\DefaultRouter">
        <plugin name="magenest_404_page" type="Magenest\RedirectPage\Plugin\Redirect"/>
    </type>
</config>
